.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer {
	flex: 0 0 auto;
}

.error {
	flex: 1 0 auto;

	&__blog {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;

		h6 {
			font-size: 230px;
			color: #56c7c3;
			font-family: 'calibri';
			font-weight: bold;
			margin: 0;
			display: block;

			span {
				color: #00b7eb;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 130px;
			}
		}

		h4 {
			font-size: 43px;
			color: #000;
			font-family: 'calibri';
			margin: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			text-transform: uppercase;
			@media (max-width: $screen-xs-max) {
				font-size: 25px;
			}
		}

		a {
			font-size: 20px;
			color: #000;
			font-weight: 400;
			text-decoration: underline;
			text-transform: uppercase;
			transition: all 0.3s;

			&:hover {
				text-decoration: none;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 15px;
			}
		}
	}
}
