.content{
	.title__headline{
		margin-bottom: 20px;

	}
	.main__content{
		flex: 1 0 auto;
		img {
      @media (max-width: $screen-sm-max) {
        max-width: 100%;
        float: none !important;
        margin: 0 auto !important;
        display: block;
      }
      @media (max-width: $screen-md-max) {
        max-width: 100%;
        float: none !important;
        margin: 0 auto !important;
        display: block;
      }
    }
	}
}
