.content {
  padding-bottom: 30px;
  flex: 1 0 auto;

  .main__imgwrap {
    img {
      width: 100%;
    }
  }

  .main__content {
    .top_nav {
      padding-left: 0;
      margin: 0;
      position: relative;
      border-bottom: 2px #d3d4d8 solid;
      padding-bottom: 10px;

      li {
        list-style-type: none;
        display: inline-block;
        padding-right: 15px;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin: 0;

        &:before {
          content: '\f101';
          font-family: 'FontAwesome';
          position: absolute;
          right: 1px;
          color: #000;
          margin-right: 0;
        }

        &:last-child {
          padding-right: 0;
          cursor: no-drop;
          color: #ccc;

          &:before {
            content: '';
          }
        }

        a {
          font-size: 16px;
          font-weight: 400;
          color: #000;
          text-decoration: none;
          transition: all 0.3s;

          &:hover {
            color: #53777a;
          }
        }
      }
    }

    h3 {
      @media (max-width: $screen-sm-max) {
        padding-left: 15px;
      }
    }

    p {
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }

    h6 {
      font-size: 18px;
      color: #323232;
      @media (max-width: $screen-md-max) {
        display: block;
        text-align: center;
      }
    }



    ul {
      margin-bottom: 20px;
      padding: 0;

      li {
        list-style-type: none;
        margin-top: 10px;
        @media (max-width: $screen-md-max) {
          &:first-child {
            margin-top: 240px;
          }
        }
        @media (max-width: $screen-sm-max) {
          &:first-child {
            margin-top: 20px;
          }
        }
        @media (max-width: $screen-md-max) {
          &:first-child {
            margin-top: 20px;
          }
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 15px;
        }

        &:before {
          content: '';
          font-family: "FontAwesome";
          color: #08b9ec;
          margin-right: 10px;
        }
      }
    }
  }

  img {
    // max-width:  100%;
    @media (max-width: $screen-sm-max) {
      float: none !important;
      margin: 0 auto !important;
      display: block;
    }
    @media (max-width: $screen-md-max) {
      float: none !important;
      margin: 0 auto !important;
      display: block;
    }
  }

  &__nmu {
    ul {
      margin: 0 !important;
    }
  }

  .content__side {
    margin-bottom: 0;
  }

  &__widget {
    padding-top: 30px;

    ul {
      padding: 0;

      li {
        max-width: 265px;
        width: 100%;
        list-style-type: none;
        border: 1px solid #d3d4d8;
        position: relative;
        border-bottom: none;
        margin-right: 0;

        &:last-child {
          border-bottom: 1px solid #d3d4d8;
        }
        @media (max-width: $screen-sm-max) {
          max-width: 100%;
        }

        a {
          margin: 0;
          display: block;
          font-size: 16px;
          text-decoration: none;
          color: #323232;
          transition: all 0.4s ease;
          padding: 10px 10px 10px 30px;

          &:hover {
            color: #fff;
            background-color: #56c7c3;
          }

          &:before {
            content: '\f101';
            position: absolute;
            font-family: 'FontAwesome';
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
